<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.molicloud.mqr.mapper.BlackUserMapper">


    <insert id="addBlackRecord">
        insert into robot_plugin_black_user (qq) values
        <foreach collection="qqList" item="qq" close="(" open="(" separator=",">
            #{qq}
        </foreach>
    </insert>
</mapper>
